.container{
	
	text-align: center;
	margin-top: 50px;
 


}
.child{
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
input{
	width: 200px;
	height: 50px;
	padding: 10px;
}
button#child{
	width: 100px;
	height: 40px;
	padding: 10px;
	border-radius: 3px;
	border-color: lightblue;
	background-color:white;

}
button:hover{
	color: blanchedalmond;
	font-weight: bold;
}
header{
    width: 100%;
    height: 100px;
    display: flex;           
    flex-direction: row;  
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid;
    border-color: black;
    border-width:1px ;
    margin-bottom: 10px;
    
    
}
#right{
    margin: 30px;
    margin-left: 50px;

}
#signinToggle{
    background-color: Transparent;
    border-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 10px;
}
#signUpToggle{
    background-color: Transparent;
    border-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 10px;
}
#left{
   
    margin: 30px;
    margin-left: 50px;
}
#logo{
    width: 100%;
    height: 30px;
    
    
}
#middle{
    margin-top: 20px;
}
#search{
    width: 700px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: transparent;
    background-color: #f1f1f3;

}
#searchButt{
    
    background-color: #f1f1f3;
    border-color: transparent;
    padding: 19px;
}
body{
    width:0 auto
}
#sideBar{
float: left;

width: 27%;
height: 800px;
border-right: solid;
border-color: black;
border-width:1px ;
}
#content{
float: right;

width: 70%;
height: 800px;
}
#footer{
    clear: both;
    width: 100%;
    height: 200px;
    background-color: black;
}
#slide{
    width: 95%;
    height: 600px;
    
}
#imgSlider{
    text-align: center;
    margin-top: 50px;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    
    margin-bottom: 40px;
    font-size: 30px;

}
li:hover{
    cursor: pointer;
}
ul{
    margin-top: 50px;
}
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    
    font-size: 30px;
    text-align: center;
    margin-bottom:20px ;
    width: 80%;
    height:300px;
  }
  .pages{
    display: flex;
    float: right;
    margin-right: 30px;
  }
  .pageNumber{
    margin: 0 20px;
  }
  .ui-dialog{
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 1px;
  }
  .ui-button{
    background-color: transparent;
  }

  .imgCard{
    width: 100%;
    height: 220px;
  }
  
  .pName{
    margin: 5px;
    float: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }
  .pPrice{
    margin: 5px;
    float: right;
    font-size: 20px;
  }